
@{
    ViewBag.Title = "Home";
}



<div class="row text-center">
    <div class="col-md-12">
        <h2>
            @Model.Title
        </h2>
        <img src="@Model.Img" alt="@Model.Alt" />
    </div>
    <div class="col-md-12">
        <span>@Model.Alt</span>
    </div>
    <div class="col-md-12">       
        @Html.ActionLink("Previous", "Previous", "Comic", new { id = Model.num - 1 }, null)        
    </div>
</div>